$icon-font-path: "../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";
// bower:scss
@import "bootstrap-sass-official/assets/stylesheets/_bootstrap.scss";
// endbower

.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  font-family: 'Roboto', sans-serif;
}

*,
*:before,
*:after {
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

h2, h3 {
  font-family: 'Roboto Condensed', sans-serif;
  font-weight: 400; 
  font-size: 21px; 
  line-height: 23px; 
  text-transform: uppercase; 
  letter-spacing: 1px; 
  margin: 20px 0; 
  text-shadow:0 1px 1px rgba(0,0,0,0.7); 
  color:#495931;
}
h3 {
  font-size: 18px; 
  line-height: 20px;
}
footer h3{
  padding-top:20px; 
  color:#F2DEA2;
}
p {
  font-size: 15px;
  line-height: 20px;
  margin: 0 0 20px 0;
}

header {
  height: 68px;
}
  
/* Reset bootstrap */
.navbar-default {
  background:#1E1915 url(../images/pattern.png) repeat top left; 
  border-color: rgba(0,0,0,0.3);
  .navbar-nav > li > a {
    color: #fff;
    font-family: "roboto_condensedregular",sans-serif;
    &:hover, &:focus {
      color: #222;
      background-color: #bfaf7e;
    }
  }
  .navbar-nav > .active > a {
    color: #222;
    background-color: #bfaf7e;
    &:hover, &:focus {
      color: #372516;
      background-color: #bfaf7e;
    }
  }
  .navbar-brand {
    width: 200px;
    height: 68px;
    img {
      width: 100%;
    }
  }
  .navbar-toggle {
    margin-top: 16px;
    margin-right: 20px;
    margin-bottom: 16px;
    &:hover, &:focus {
      background-color: transparent;
      .icon-bar {
        background-color: #ffd5b3;
      }
    }
  }
  .navbar-collapse {
    background:#1E1915 url(../images/pattern.png) repeat top left;
    border-color: rgba(0,0,0,0.3);
    li {
      float: none;
    }
  }
}
.nav-pills > li + li {
  margin-left: 0;
}
.nav-pills > li > a {
  border-radius: 0;
}
.nopadding {
  margin: 0 !important;
  padding: 0 !important;
}

.home-background {
  background: #1E1915;
  box-shadow: 0 -30px 0 0 #6A472B inset;
  padding-top: 30px;
}
.container.light-brown-background {
  background: #F2DEA2;
  box-shadow: 0 5px 0 0 #BFAF7E;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  header {
    height: 91px;
  }
  .navbar-default {
    .navbar-nav > li > a {
      background-color: #6a472b;
      box-shadow: 0 3px 0 #372516;
      font-size: 20px;
      &:hover, &:focus {
        color: #222;
        background-color: #bfaf7e;
      }
    }
    .navbar-nav > .active > a {
      color: #222;
      background-color: #bfaf7e;
      box-shadow: 0 3px 0 #6a472b;
      &:hover, &:focus {
        color: #372516;
        background-color: #bfaf7e;
      }
    }
    .navbar-brand {
      width: 250px;
      padding: 20px 0 0 20px;
    }
    .navbar-collapse {
      .navbar-nav {
        padding: 20px 35px 20px 20px;
      }
      li {
        float: left;
      }
    }
  }
  .nav-pills > li > a.acasa {
    border-radius: 4px 0 0 4px;
    margin-right: 1px;
  }
  .nav-pills > li > a.contact {
    border-radius: 0 4px 4px 0;
    margin-left: 1px;
  }
  .acasa-col-1 {
    img {
      border-top-left-radius: 10px;
    }
  }
  .acasa-col-1-text {
    border-right: 1px solid #BFAF7E;
  }
  .acasa-col-3 {
    img {
      border-top-right-radius: 10px;
    }
  }
  .acasa-col-3-text {
    border-left: 1px solid #BFAF7E;
  }
  .light-brown-background {
    .row {
      height: 100%;
      display: table;
      width: 100%;
      table-layout: fixed;
      .col-xs-12 {
        height: 100%;
        display: table-cell;
        float: none !important;
      }
    }
  }
}
/* Responsive: Notebooks and up */
@media screen and (min-width: 1200px) {
  .container {
    width: 970px;
  }
  header {
    height: 110px;
  }
  .navbar-default {
    .navbar-nav > li > a {
      font-size: 24px;
    }
    .navbar-brand {
      padding: 27px 0 0 0;
      height: 83px;
    }
    .navbar-collapse {
      .navbar-nav {
        padding: 30px 0;
      }
      li {
        float: left;
      }
    }
  }
}
